<mat-toolbar>
  <span>My Application</span>
  <div class="toolbar">
    <div class="nav-item" routerLink="home" [routerLinkActive]="'is-active'">
      Home
    </div>
    <div class="nav-item" routerLink="posts" [routerLinkActive]="'is-active'">
      Posts
    </div>
    <div class="nav-item" routerLink="gallery" [routerLinkActive]="'is-active'">
      Gallery
    </div>
    <div
      class="nav-item"
      routerLink="contact-us"
      [routerLinkActive]="'is-active'"
    >
      Contact Us
    </div>
  </div>
</mat-toolbar>
